export(superdelta, deltaseq, deltaseq2, fastt, normalize.medIQR, normalize.global, normalize.rank, normalize.quantile, filt_IQR, check_cor, t_test_genes, log2origin, simu, simu_pred)
useDynLib(superdelta, .registration = TRUE, .fixes = "R_")

